spring:
  application:
    name: request-service

  datasource:
    url: jdbc:postgresql://localhost:5432/main-db?currentSchema=requests_schema
    username: postgres
    password: postgres

  jpa:
    properties:
      hibernate:
        format_sql: false
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  sql:
    init:
      mode: always

logging:
  level:
    ru.practicum.ewm: DEBUG

eureka:
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"
  client:
    healthcheck:
      enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 0