spring:
  application:
    name: gateway-server

  config:
    import: "configserver:"

  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 5
        initial-interval: 2000
        max-interval: 10000
      discovery:
        enabled: true
        serviceId: config-server