spring:
  application:
    name: gateway-server

  config:
    import: "configserver:"

  cloud:
    config:
      fail-fast: true
      retry:
        max-interval: 6000
      discovery:
        enabled: true
        serviceId: config-server