spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      discovery.locator.enabled: false
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enable: true

logging:
  level:
    ru.practicum.ewm: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.gateway.route: DEBUG

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    hostname: localhost
    instance-id: "${spring.application.name}:${random.value}"
    leaseRenewalIntervalInSeconds: 10

server:
  port: 8080