spring:
  application:
    name: event-service

  config:
    import: "configserver:"

  cloud:
    config:
      fail-fast: true
      retry:
        max-attempts: 10
        initial-interval: 2000
        max-interval: 6000
        multiplier: 1.5
      discovery:
        enabled: true
        serviceId: config-server